<%- include partials/header %>
    	<!-- Include js files-->
			<%- include partials/mainJS %>  
		<!-- Main -->
			<div id="main">


				<!-- About Me -->
        <section id="about" class="three">
          <div class="container">

            <header>
              <h2>About Kate</h2>
            </header>
            <div class="topimg"><div class="aboutimg"></div></div>

            <p>In the Web Developer Certificate program at SAIT, she has improved her full-stack developer skills such as Sketch, Photoshop, Illustrator, Html, CSS, JavaScript, Node.js, Mongodb and WordPress. This comprehensive knowledge and experience have helped her to troubleshoot solutions.  </p>
            


            <div class="row">
              <div class="col-6 col-12-mobile">
                <article class="item" >
                  <!-- <a href="#" class="image fit"><img src="images/pic02.jpg" alt="Calgary Crime Dashboard" /></a> -->
                  <header>
                    <h3 class="aboutmetitle">Technical Skills</h3>
                    <ul class="aboutme">
                    <li><span class="icon solid fa-puzzle-piece"></span>&nbsp Planning<br> Market research, competitive analysis, defining client requirement, creating Journey map. 
                    (MS office, Google analytics, R, SPSS)</li>
                    
                    <li><span class="icon solid fa-pencil-alt"></span>&nbsp Design<br> Designing IA, sitemaps, user flows, process flows, wireframes, prototype, interface 
                    (Sketch, Photoshop, Illustrator)</li>
                    
                    <li><span class="icon solid fa-code"></span>&nbsp Development<br> Front-end and back-end development
                    (HTML, CSS, JavaScript, node.js, mongoDB)</li>
                    
                    <li><span class="icon solid fa-poll"></span>&nbsp Delivery<br> Online marketing and contents management
                    (WordPress and CMS systems, Newsletter)</li>						
                  </ul>
                  </header>
              </div>
              <div class="col-6 col-12-mobile">
                <article class="item">
                  <!-- <a href="#" class="image fit"><img src="images/pic04.jpg" alt="SK T world" /></a> -->
                  <header>
                      <h3 class="aboutmetitle">Certifications</h3>
                      <ul class="aboutme">
                      <li>- Advanced Data Analytics Semi-Professional
                        (Korea Data Agency)
                        2017</li>
                      
                      <li>- Survey Junior Analyst (Human Resources Dev Service of Korea)
                        2016</li>
                      
                      <li>- PMP
                        (Project Management Professional, PMI)
                        2012</li>
                      
                      <li>- Certified Information Processing Engineer (Human Resources Dev Service of Korea) 
                        2003</li>						
                    </ul>
                  </header>
                </article>
                <article class="item">
                    <!-- <a href="#" class="image fit"><img src="images/pic04.jpg" alt="SK T world" /></a> -->
                    <header>
                        <h3 class="aboutmetitle">Volunteer activities </h3>
                        <ul class="aboutme">
                        <li>- Volunteer as a Web designer, MPower Canada Corp (Calgary, Canada) 2019</li>
                        
                        <li> - Member, Toastmasters International club (Calgary, Canada)                                 2019</li>
                        
                        <li> - Advisor, the web design for social enterprise’s website              
                          2014 - 2017</li>
                        
                        <li>- Instructor, the UX fundamental course for employee in SK Holdings Inc. 
                          2015</li>				
                          <li>- Mentor, Ihwa University students’ final term project 
                            2013</li>				
                      </ul>
                    </header>
                </article>
              </div>
            </div>

          </div>
        </section>

			</div>
    <!-- Include js file-->
    <%- include partials/layerCloseJS %>
        <!-- Include footer -->
        <%- include partials/footer %>     
