<%- include partials/header %>
    	<!-- Include js files-->

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
							<header>  
							<p><h3> Kate's Hours </h3></p> 
							</header>
							
							<div class="row">
								<div class="col-4 col-12-mobile">
									<span class="icon solid fa-desktop">&nbsp Worked Hours Total <h2 class="count">17200 </h2></span>
									<!-- <div class="detail">
										<a href="#myModal1" role="button" data-target="#myModal1"  data-toggle="modal">
											<span class="icon solid fa-plus-circle"></span>
										</a>
									</div> -->
								</div>
								<div class="col-4 col-12-mobile">
									<span class="icon solid fa-graduation-cap">&nbsp Studied Hours Total<h2 class="count">2500 </h2></span>
								</div>
								
								<div class="col-4 col-12-mobile">
									<span class="icon solid fa-hat-wizard">&nbsp The types of weared hats <h2 class="count">8</h2></span>
								</div>
							</div>
							
							<header class="quote">
								<q><strong>"It takes 10,000 hours of deliberate practice to become an expert."</strong>
								<br>- Malcolm Gladwell -</q>
							</header>
						

							<footer>
									<a href="#myModal1" role="button" data-target="#myModal1"  data-toggle="modal" class="button scrolly">Kate's Hours</a>
								<!-- Detail Layer 3 Start -->
								<div id="myModal1" class="modal fade" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<p class="modal-title" id="myModalLabel">Kate's Hours</p>
												</div>
												<div class="modal-body">
													<h4>Education</h4>
													<ul>
														<li> Certificate as a Web Developer <br>: SAIT (Calgary, Canada) 2019</li>
														<li> Masters Degree in Science Communication​  <br>: Sogang University (Seoul, Korea) 2008 - 2010</li>
														<li> Bachelors of MIS <br>: Kyonggi University (Suwon, Korea) 1999 - 2004</li>
													</ul>
													<h4>Work​ experience</h4>
													<ul>
														<li> Web/Mobile Designer / UX Designer <br>(SK Holdings Inc., Korea) ​2010 - 2018</li>
														<li> Web Designer / Project Manager <br>(Mirae Asset Co., Ltd., Korea) 2006 - 2009</li>
														<li> Online Service Consultant <br>(Vinyl Co., Ltd., Korea) 2005 -2006</li>
													</ul>

												</div>
												<div class="modal-footer">
													<button class="btn btn-default" data-dismiss="modal" aria-hidden="true"> Close</button>
												</div>
											</div>
										</div>
									</div>
								<!-- Detail Layer 3 End-->
							</footer>

						</div>
					</section>
				</div>

			<!-- Include js files-->
			<%- include partials/mainJS %>  
			<%- include partials/layerCloseJS %>
        <!-- Include footer -->
        <%- include partials/footer %>     
