<%- include partials/header %>
      	<!-- Include js files-->
        <%- include partials/mainJS %>  
    
    <!-- Main -->
    <div id="main">
      <!-- project -->

        <section id="project" class="two">
          <div class="container">

            <header>
              <h2>Project</h2>
            </header>

            <p>With over 10 years of experience in the website and mobile industries, Kate has held a number of roles such as a web analyst, project manager, online marketer, web designer, content strategist, QA tester, and UX fundamentals instructor. </p>

            <div class="row">
              <div class="col-4 col-12-mobile">
                <article class="item">
                  <a href="#myModal1" data-target="#myModal1"  data-toggle="modal" class="image fit"><img src="img/pic02.jpg" alt="Calgary Crime Dashboard" class="projectimg"></a>

                  <!-- Detail Layer 3 Start -->
          
                  <div id="myModal1" class="modal fade" data-easein="fadeIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <p class="modal-title" id="myModalLabel">[SAIT] Calgary Crime Dashboard</p>
                          </div>
                          <div class="modal-body" id="modal-body-project">
                            <h4>Keywords : #API #JavaScript #City of Calgary #RCMP</h4>

                            <a href="https://js-assign3.netlify.com" target="blank"><img src="img/pic02.jpg" alt="Calgary Crime Dashboard" class="projectimg"></a>
                            <p> Calgary crime dashboard provide information about crime counts such as top 5 sector, Top 5 community and top 5 crime category. The user could search their community crime information by community name. This service based on raw data which provided by city of calgary.</p>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"> Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  <!-- Detail Layer 3 End-->


                  <header>
                    <h3>[SAIT] Calgary Crime Dashboard</h3>
                  </header>
                </article>
                <article class="item">
                  <a href="https://js-assign3.netlify.com"  target="blank" class="image fit"><img src="img/pic03.jpg" alt="MPoewr Canada" /></a>
                  <header>
                    <h3>[SAIT] MPoewr Canada</h3>
                  </header>
                </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic02-1.jpg" alt="Code Cafe" /></a>
                  <header>
                    <h3>[SAIT] Code Cafe</h3>
                  </header>
                </article>
                <article class="item">
                    <a href="#" class="image fit"><img src="img/pic03-1.jpg" alt="blog" /></a>
                    <header>
                      <h3>[SAIT] Blog</h3>
                    </header>
                  </article>
              </div>
              <div class="col-4 col-12-mobile">
                  <article class="item">
                      <a href="#" class="image fit"><img src="img/pic02-2.jpg" alt="happy dog" /></a>
                      <header>
                        <h3>[SAIT] Happy dog</h3>
                      </header>
                  </article>
                  <article class="item">
                      <a href="#" class="image fit"><img src="img/pic03-2.jpg" alt="portfolio" /></a>
                      <header>
                        <h3>[SAIT] portfolio</h3>
                      </header>
                  </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic04.jpg" alt="SK T world" /></a>
                  <header>
                    <h3>[SK] SK T world </h3>
                  </header>
                </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic05.jpg" alt="SK Biz Tworld" /></a>
                  <header>
                    <h3>[SK] SK Biz Tworld </h3>
                  </header>
                </article>

              </div>
              <div class="col-4 col-12-mobile">
                <article class="item">
                    <a href="#" class="image fit"><img src="img/pic04-1.jpg" alt="SK mTworks" /></a>
                    <header>
                      <h3>[SK] SK mTworks </h3>
                    </header>
                </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic06.jpg" alt="SK mobile T world App" /></a>
                  <header>
                    <h3>[SK] SK mobile T world App. </h3>
                  </header>
                </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic07.jpg" alt="Mirae Asset Media" /></a>
                  <header>
                    <h3>[Mirae Asset] Mirae Asset Media</h3>
                  </header>
                </article>
                <article class="item">
                  <a href="#" class="image fit"><img src="img/pic06-1.jpg" alt="Bigi" /></a>
                  <header>
                    <h3>[KTF] Bigi</h3>
                  </header>
                </article>
              </div>
            </div>

          </div>
        </section>
      </div>
    	<!-- Include js files-->
			<%- include partials/layerCloseJS %>
      <!-- Include footer -->
      <%- include partials/footer %>     
